/*body { background:#EBEBEB; font:16px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color:#333; }*/

tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'PT Sans', sans-serif;
    
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/* COMMON STEP STYLES */

.step {
    width: 960px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;

    font-size: 47px;
    line-height: 1.5;
}

/* fade out inactive slides */

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    opacity: 1;
}

.step:not(.active) {
    opacity: 0.15;
}

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}


#uni-logo {
    position:absolute; 
    right:50px;
}

#first-slide q{
    text-align: center;
}

#first-slide p{
    margin-top: 80px;
    margin-bottom: 200px;
    font-size: 35px;
    text-align: center;
}


#first-slide ul li {
    list-style: none;
    float: left;    
    font-size:20px;
}


#agenda h2 {
    margin-top: 50px;
    text-align: center;
}

#agenda ul {
    margin-top:50px;
    margin-left:50px;
}

#pushpin {
    z-index: 1000;
}

#pushpin h1 {
    font-size: 190px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #000;
    
    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#pushpin .footnote {
    font-size: 32px;
}

ul li {
    list-style: square;
}

h2 {
    font-size: 70px;
    
    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

.impress-on-social-need1 #social-need2 {
    opacity: 0;
}
.impress-on-social-need2 #social-need1 {
    opacity: 0;
}

.impress-on-life1 #life-cycle {
    opacity: 1;
}
.impress-on-life1 #life-cycle h2{
    opacity: 0.1;
}

.impress-on-life2 #life-cycle {
    opacity: 1;
}
.impress-on-life2 #life-cycle h2{
    opacity: 0.1;
}
.impress-on-life3 #life-cycle {
    opacity: 1;
}
.impress-on-life3 #life-cycle h2{
    opacity: 0.1;
}
.impress-on-life4 #life-cycle {
    opacity: 1;
}
.impress-on-life4 #life-cycle h2{
    opacity: 0.1;
}
.impress-on-life5 #life-cycle {
    opacity: 1;
}
.impress-on-life5 #life-cycle h2{
    opacity: 0.1;
}
.impress-on-life6 #life-cycle {
    opacity: 1;
}
.impress-on-life6 #life-cycle h2{
    opacity: 0.1;
}
.impress-on-life7 #life-cycle {
    opacity: 1;
}
.impress-on-life7 #life-cycle h2{
    opacity: 0.1;
}


#overview { display: none }


.impress-on-overview #pushpin {
    opacity: 1;
    /*cursor: pointer;*/
}

.impress-on-overview #finish {
    opacity: 0;
    /*cursor: pointer;*/
}

#life-overview {
    display:none;
}

.impress-on-life-overview #life-cycle {
    opacity: 1;
}

#finish {
    opacity: 0;
}

.impress-on-finish #finish {
    opacity: 1;
    /*cursor: pointer;*/
}

.impress-on-pushpin #finish {
    opacity: 0;
    /*cursor: pointer;*/    
}

#numbers ul li {
    list-style: none;
}


#tech ul li {
    list-style: none;
    float:left;
    margin-left: 10px;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

